<h1>All Photos</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Attachment URL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.title %></td>
    <td><%= image_tag(photo.attachment) %></td>
    <td><%= link_to "Show", photo %></td>
    <td><%# link_to "Edit", edit_photo_path(photo) %></td>
    <td><%= link_to "Remove", photo, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>
 
<br>
 
<%= link_to "New photo", new_photo_path %>
